<h2>
    <a href="/#">
        <span class="label type type-all">
            All
        </span>
    </a>

    <a href="/#Bug">
        <span class="label type type-bug">
            Bug
        </span>
    </a>

    <a href="/#Dragon">
        <span class="label type type-dragon">
            Dragon
        </span>
    </a>

    <a href="/#Electric">
        <span class="label type type-electric">
            Electric
        </span>
    </a>

    <a href="/#Fairy">
        <span class="label type type-fairy">
            Fairy
        </span>
    </a>

    <a href="/#Fighting">
        <span class="label type type-fighting">
            Fighting
        </span>
    </a>

    <a href="/#Fire">
        <span class="label type type-fire">
            Fire
        </span>
    </a>

    <a href="/#Flying">
        <span class="label type type-flying">
            Flying
        </span>
    </a>

    <a href="/#Grass">
        <span class="label type type-grass">
            Grass
        </span>
    </a>

    <a href="/#Ground">
        <span class="label type type-ground">
            Ground
        </span>
    </a>

    <a href="/#Ice">
        <span class="label type type-ice">
            Ice
        </span>
    </a>

    <a href="/#Normal">
        <span class="label type type-normal">
            Normal
        </span>
    </a>

    <a href="/#Poison">
        <span class="label type type-poison">
            Poison
        </span>
    </a>

    <a href="/#Psychic">
        <span class="label type type-psychic">
            Psychic
        </span>
    </a>

    <a href="/#Rock">
        <span class="label type type-rock">
            Rock
        </span>
    </a>

    <a href="/#Steel">
        <span class="label type type-steel">
            Steel
        </span>
    </a>

    <a href="/#Water">
        <span class="label type type-water">
            Water
        </span>
    </a>
</h2>